@media only screen and (max-width: 576px) {
    /* ========== ARTIKEL HOME ========== */
    .home {
        padding: 80px 10px 0 10px !important;
    }
    .wrapper-main .home .title-home h1 {
        font-size: 28px !important;
    }
    /* ========== ARTIKEL ABOUT ========== */
    .about {
        padding: 30px 20px 0 20px !important;
    }
    .wrapper-main .about .title-about .menu-about {
        flex-direction: column;
    }
    .wrapper-main .about .wrapper-aside .card {
        flex-direction: column;
    }
    .wrapper-main .about .wrapper-aside .card .wrapper-images img {
        width: 100%;
    }
    .wrapper-main .about .wrapper-aside .card .wrapper-profile {
        width: 100%;
    }
    .wrapper-main .about .title-about .menu-about ul li p {
        font-size: 15px !important;
    }

    /* ========== ARTIKEL MENTOR ========== */
    .mentor .title-mentor {
        padding: 0 20px !important;
    }
}

@media only screen and (max-width: 767px) {
    /* ========== NAVBAR ========== */
    .wrapper-header {
        padding: 20px 40px !important;
    }
    /* ========== ARTIKEL HOME */
    .home {
        padding: 180px 40px 0 40px !important;
    }
    .home .title-home .award span {
        font-size: 13px;
    }
    .home .title-home h1 {
        font-size: 30px;
    }

    /* ========== ARTIKEL ABOUT ========== */
    .about {
        flex-direction: column;
        padding: 50px 40px !important;
    }
    .about .title-about.menu-about {
        flex-direction: row;
    }
    .wrapper-aside {
        margin-top: 40px;
    }
    .wrapper-main .about .wrapper-aside {
        width: 100%;
        margin: 40px 0 0 0;
    }
    .wrapper-main .about .wrapper-aside .card {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .wrapper-main .about .wrapper-aside .card .wrapper-images img {
        width: 200px;
    }
    .wrapper-main .about .wrapper-aside .card .wrapper-profile {
        max-width: 500px;
    }

    /* ========== ARTIKEL MENTOR ========== */
    .mentor .title-mentor {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 991px) {
    /* ========== NAVBAR ========== */
    .wrapper-header {
        padding: 20px 15px !important;
    }
    .wrapper-header .wrapper-nav .list-group {
        position: fixed;
        top: 75px;
        left: 0;
        height: 300px;
        width: 100%;
        display: block;
        background-color: #fff;
        text-align: center;
    }
    .wrapper-header .wrapper-nav .list-group .item-list {
        margin: 40px 0;
    }
    .wrapper-header .humburger {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    .wrapper-header .active {
        display: none;
    }

    /* ========== ARTIKEL HOME ========== */
    .home {
        padding: 180px 15px 0 15px !important;
    }
    .wrapper-main .home {
        flex-direction: column;
    }
    .wrapper-main .home .title-home h1 {
        font-size: 45px;
    }
    .wrapper-main .home .title-home .award span {
        font-size: 13px;
    }
    .home .img-home img {
        margin: 30px 0 0 0;
    }

    /* ========== ARTIKEL ABOUT ========== */
    .about {
        padding: 100px 15px 0 15px !important;
    }
    .wrapper-main .about .title-about .menu-about ul li p {
        font-size: 14px;
        text-align: start;
    }

    /* ========== ARTIKEL MENTOR ========== */
    .mentor .title-mentor {
        padding: 0 40px;
    }
    .mentor .title-mentor h1 {
        font-size: 25px;
        margin-bottom: 3rem;
    }
    .wrapper-carousel .mentor-group-1 .card-brand {
        width: 227px;
        height: 90px;
    }
    .wrapper-carousel .mentor-group-1 .card-brand .logo {
        height: 50px;
        margin-top: 20px;
    }
    .wrapper-carousel-left .mentor-group-1 .card-brand {
        width: 227px;
        height: 90px;
    }
    .wrapper-carousel-left .mentor-group-1 .card-brand .logo {
        height: 50px;
        margin-top: 20px;
    }
}
