@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
/* background-color: #f9fbfc; */

/* ========== NAVBAR ========== */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
}
.wrapper-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.wrapper-header .logo {
    font-size: 15px;
}
.wrapper-nav {
    display: flex;
}
.wrapper-nav .active {
    display: none;
}
.wrapper-nav .list-group {
    display: flex;
    list-style: none;
    gap: 30px;
    background-color: #fff;
}
.wrapper-nav .list-group .item-list a {
    text-decoration: none;
    color: #152c5b;
}
.wrapper-nav .list-group .item-list a:hover {
    color: #c7c7c7;
}
.wrapper-header .humburger {
    display: none;
}

/* ========== ARTIKEL HOME ========== */
.home {
    padding: 180px 80px 0 80px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .title-home .award {
    width: fit-content;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 8px 16px 8px 16px;
    background-color: #e5e4ff;
}
.title-home,
.img-home {
    flex: 1;
}
.home .title-home h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #152c5b;
    text-transform: uppercase;
}
.home .title-home p {
    margin-top: 20px;
    color: #808080;
    letter-spacing: 0.5px;
    line-height: 27px;
}
.home .img-home img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
}
.btn-group {
    margin-top: 25px;
}
.btn-read {
    padding: 10px 40px;
    background-color: #5e21cd;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    letter-spacing: 0.5px;
}

/* ========== ARTIKEL ABOUT ========== */
.about {
    padding: 80px 80px 0 80px;
    display: flex;
}
.title-about {
    flex: 1;
}
.about .title-about span {
    font-family: "Ephesis", cursive;
    font-weight: 600;
    font-size: 20px;
    color: #ee4a62;
    letter-spacing: 1px;
}
.about .title-about h1 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
}
.about .title-about p {
    margin-top: 20px;
    text-align: start;
    line-height: 27px;
    color: #797979;
}
.about .title-about .menu-about {
    display: flex;
    gap: 30px;
}
.about .title-about h3 {
    margin-top: 10px;
}
.about .title-about ul li {
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.about .title-about ul li p {
    margin: 0;
}
.about .title-about ul li i {
    color: #fe722b;
}
.wrapper-aside {
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin-left: 30px;
}
.wrapper-aside .card {
    padding: 15px;
}
.wrapper-aside .card h1 {
    font-size: 30px;
    color: #152c5b;
    display: inline-block;
}
.wrapper-aside .card span {
    margin-top: 15px;
    font-size: 15px;
    color: #808080;
    margin: 0;
    letter-spacing: 2px;
}
.wrapper-aside .card img {
    margin-bottom: 40px;
    width: 100%;
    border-radius: 100%;
}
.wrapper-aside .card .name-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}
.wrapper-aside .card i {
    color: #808080;
}
.wrapper-aside .card .loc-group {
    display: flex;
    align-items: center;
    gap: 20px;
}
.wrapper-aside .card p {
    margin-top: 20px;
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    color: #808080;
}
.wrapper-profile .icon-profile {
    padding: 20px 0;
}
.wrapper-profile .icon-profile a {
    text-decoration: none;
}
.wrapper-profile .icon-profile i {
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
    gap: 10px;
    color: #152c5b;
    cursor: pointer;
}
.wrapper-profile .icon-profile i:hover {
    background-color: #581fc1;
    transition: all 0.5s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #fff;
}

/* ========== ARTIKEL MENTOR ========== */
.mentor {
    margin-top: 5rem;
    border-radius: 50px;
    padding: 100px 0;
    flex-wrap: wrap;
    background-color: #581fc1;
}
.mentor .title-mentor {
    padding: 0 80px;
    text-align: center;
    margin-bottom: 4rem;
}
.mentor .title-mentor span {
    font-family: "Ephesis", cursive;
    font-weight: 600;
    font-size: 20px;
    color: #ffcb50;
    letter-spacing: 2px;
}
.mentor .title-mentor h1 {
    font-size: 35px;
    color: #fff;
}
.mentor .wrapper-mentor {
    max-width: 991px;
    margin: 20px auto;
}
.mentor .wrapper-mentor .mentor-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.mentor .wrapper-mentor .mentor-1 img {
    width: 200px;
}
.mentor .wrapper-mentor .mentor-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    flex-wrap: wrap;
}
.mentor .wrapper-mentor .mentor-2 img {
    width: 200px;
}
.wrapper-mentor .mentor-1 .apple,
.dunkin,
.google {
    padding: 20px 35px;
    background-color: #fff;
    border-radius: 20px;
}
.wrapper-mentor .mentor-2 .spotify,
.subway,
.kfc {
    padding: 20px 35px;
    background-color: #fff;
    border-radius: 20px;
}

/* ========== ARTIKEL GALLERY ========== */
.gallery {
    padding: 80px 80px 0 80px;
}
.gallery .title-gallery span {
    font-family: "Ephesis", cursive;
    font-weight: 600;
    font-size: 20px;
    color: #ee4a62;
    letter-spacing: 1px;
}
.gallery .title-gallery h1 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
}
.gallery .wrapper-gallery-img {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
}
.gallery .wrapper-gallery-img .card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10,
.card-11,
.card-12,
.card-13,
.card-14,
.card-15,
.card-16 {
    width: 17rem;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
}
.gallery .wrapper-gallery-img .card-1 img,
.card-2 img,
.card-3 img,
.card-4 img,
.card-5 img,
.card-5 img,
.card-6 img,
.card-7 img,
.card-8 img,
.card-9 img,
.card-10 img,
.card-11 img,
.card-12 img,
.card-13 img,
.card-14 img,
.card-15 img,
.card-16 img {
    width: 100%;
    border-radius: 10px;
}
.card-detail h1 {
    font-size: 20px;
    margin-top: 15px;
}
.card-detail p {
    font-size: 14px;
    margin-top: 10px;
}

/* .gallery .wrapper-gallery-img .card-1 img,
.gallery .wrapper-gallery-img .card-2 img,
.gallery .wrapper-gallery-img .card-3 img,
.gallery .wrapper-gallery-img .card-4 img,
.gallery .wrapper-gallery-img .card-5 img {
    width: 20%;
} */
/* .wrapper-gallery-img .card-1 img {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-gallery-img .card-2 img {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-gallery-img .card-3 img {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-gallery-img .card-4 img {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-gallery-img .card-5 img {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
} */
